version: '3'

services:
  web:
    container_name: ${COMPOSE_PROJECT_NAME}_web
    build: docker/nginx
    depends_on:
      - php
    networks:
      - net
    ports:
      - ${EXPOSE_PORT_HTTP}:80
      - ${EXPOSE_PORT_HTTPS}:443
    volumes:
      - ./docker/nginx/http.conf:/etc/nginx/conf.d/00-http.conf:cached
      - ./docker/nginx/vhost.conf:/etc/nginx/conf.d/99-vhost.conf:cached
      - ./docker/nginx/ssl:/etc/nginx/ssl:cached
      - .:/var/www/html:cached

  php:
    container_name: ${COMPOSE_PROJECT_NAME}_php
    build:
      context: docker/php
      args:
        USER_ID: ${DOCKER_USER_ID}
    depends_on:
      - db
      - redis
    networks:
      - net
    expose:
      - 5555
      - 8020
      - 9000
    volumes:
      - ./docker/php/supervisord.conf:/etc/supervisord.conf:cached
      - ./docker/php/supercronictab:/etc/supercronictab:cached
      - ./docker/php/php-fpm.conf:/usr/local/etc/php-fpm.conf:cached
      - ./docker/php/php-common.ini:/usr/local/etc/php/conf.d/50-settings-common.ini:cached
      - ./docker/php/php-${PHP_ENV}.ini:/usr/local/etc/php/conf.d/51-settings-env.ini:cached
      - .:/var/www/html:cached
      - ./docker/php/appenvconfig.ini:/var/www/html/conf/docker.ini:cached

  db:
    container_name: ${COMPOSE_PROJECT_NAME}_db
    build: docker/db
    networks:
      - net
    expose:
      - 3306
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db:/var/lib/mysql:consistent
      - ./docker/db/mariadb.conf.d:/etc/mysql/mariadb.conf.d:cached

  redis:
    container_name: ${COMPOSE_PROJECT_NAME}_redis
    build: docker/redis
    networks:
      - net
    expose:
      - 6379
    volumes:
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf:cached

  node:
    container_name: ${COMPOSE_PROJECT_NAME}_node
    build:
      context: docker/node
      args:
        USER_ID: ${DOCKER_USER_ID}
    volumes:
      - .:/var/www/html:consistent

volumes:
  db:

networks:
  net:
