; Use a copy of this file (without .dist) to overwrite Pathfinder configs

[PATHFINDER]
; Pathfinder version
;           Version number should not be changed manually.
;           Version is used for CSS/JS cache busting and is part of the URL for static resources:
;           e.g. public/js/vX.X.X/app.js
; Syntax:   String (current version)
; Default:  v1.5.0
VERSION                     =   v1.5.0-t

[routes]
; Disables /setup: Overwrite route with a redirect to @login
; Commend out to ENABLE setup
GET @setup:         /setup                      [sync]  =   Controller\AppController->rerouteToMe
