; Use a copy of this file (without .dist) to overwrite Pathfinder configs

[routes]
; Disables /setup: Overwrite route with a redirect to @login
GET @setup:         /setup                      [sync]  =   Controller\AppController->rerouteToMe
