; Use a copy of this file (without .dist) to overwrite Pathfinder configs

[PATHFINDER]
; Pathfinder version
;           Version number should not be changed manually.
;           Version is used for CSS/JS cache busting and is part of the URL for static resources:
;           e.g. public/js/vX.X.X/app.js
; Syntax:   String (current version)
; Default:  v1.5.2
VERSION                     =   v1.5.3-t

; Show warning on 'login' page if /setup route is active
;           DO NOT disable this warning unless /setup route is protected or commented in routes.ini
; Syntax:   0 | 1
; Default:  1
;SHOW_SETUP_WARNING         =   0

[PATHFINDER.EXPERIMENTS]
; Try to use persistent database connections
;           PDO connections get initialized with ATTR_PERSISTENT => true .
;           http://php.net/manual/en/pdo.connections.php#example-1030
; Hint:     Set 'wait_timeout' to a high value in your my.conf to keep them open
; Syntax:   0 | 1
; Default:  0
PERSISTENT_DB_CONNECTIONS   =   1

[PATHFINDER.SYSTEMTAG]
; Systemtag status
;           If enabled new systems will be tagged using the defined style
; Syntax:   0 | 1
; Default:  0
STATUS                      =   1

; Naming scheme to use
; Syntax:   String
; Default:  countConnections
STYLE                       =   countConnections

[routes]
; Disables /setup: Overwrite route with a redirect to @login
; Commend out to ENABLE setup
GET @setup:         /setup                      [sync]  =   Controller\AppController->rerouteToMe
